/* ============================================== Colors ============================================== */

.bg-gold {
	background-color: #efbf04;
}

.bg-orange {
	background-color: #db9065;
}

.bg-white {
	background-color: #ffffff;
}

.bg-skyblue {
	background-color: #123249;
}

.bg-feldgrau {
	background-color: #4c5b5c;
}

/* ============================================== font colors ============================================== */

.font-gold {
	color: #efbf04;
}

.font-orange {
	color: #db9065;
}

.font-white {
	color: #ffffff;
}

.font-violet {
	color: #493657;
}

.font-feldgrau {
	color: #4c5b5c;
}

hr {
	color: #efbf04;
}

/* ============================================== Navbar ============================================== */

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(239, 191, 4)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
	border-color: #efbf04;
}
.navbar-brand {
	position: relative;
	background: url(https://res.cloudinary.com/dry7ulzth/image/upload/q_auto/v1762734535/magnaGlow/logo/LogoMagnaGlow_SdnBhd-min_alhpag.webp);
	width: 240px;
	height: 56px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.navBackColor1 {
	background: #123249;
}

.navbar-nav > li > .dropdown-menu {
	background-color: #123249;
}

.dropdown-menu {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	border: none;
	border-radius: 0;
	padding: 0.7em;
	background: rgba(212, 250, 250);
}

@media only screen and (min-width: 992px) {
	.dropdown:hover .dropdown-menu {
		display: block;
	}
	.dropdown-menu.show {
		display: block;
	}
}

/*
*
* custom links 
*   
*/

.linkStyle {
	color: black;
	font-style: italic;
	text-decoration: none;
	font-weight: 400;
	transition: 0.5s ease-in;
}

.linkStyle:hover {
	color: #53519b;
	text-decoration: underline;
}

.linkStyle2 {
	color: #efbf04;
	text-decoration: none;
	font-size: 14px;
	padding: 0.6rem;
	transition: 0.5s ease-in;
}

.linkStyle2:hover {
	color: #4c5b5c;
	background-color: #efbf04;
	padding: 0.6rem;
}

.linkStyle3 {
	color: #fad6d6;
	text-decoration: none;
	transition: 0.5s ease-in;
}

.linkStyle3:hover {
	color: #53519b;
}

.linkStyleActive {
	color: #efbf04;
}

.linkStyleActive:hover {
	color: #efbf04;
}

/* Buttons */

.btn-custom {
	background-color: #efbf04;
	color: #493657;
	padding: 10px 20px;
	transition: 0.5s ease-in;
}
.btn-custom:hover {
	background-color: #db9065;
}

/* Cards */
.customBorder {
	border-color: #efbf04;
}
